<div class="container">
  <h1 class="text-center my-5"> Nouvel Evenement</h1>
  <div class="col-12">
    <div class="shadow-none bg-light rounded p-4">

      <%= form_with url: events_path, method: :post, local: true do |form| %>
        <%= form.text_field :title, class: "form-control", placeholder: "Titre" %><br>
        <%= form.text_area :description, class: "form-control", placeholder: "Description" %><br>
        <%= form.datetime_field :start_date, class: "form-control", placeholder: "Date de l'événement" %><br>
        <%= form.text_area :duration, class: "form-control", placeholder: "Durée de l'événement" %><br>
        <%= form.text_area :price, class: "form-control", placeholder: "Prix" %><br>
        <%= form.text_area :location, class: "form-control", placeholder: "Lieu de l'événement" %><br>
        <%= form.file_field :cover %><br><br>
        <%= form.submit "Enregistrer", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
