<div class="container">
  <div class="card mb-3">
    <%= render 'event_card' %>
  </div>
  <% if current_user.present? %>
    <% if @event.owner == current_user %>
      <%= link_to "Administrateur de l'évenement", event_attendances_path(@event.id), method: :post, class:"btn btn-secondary" %>
    <% elsif @event.guests.include? current_user %>
      <%= link_to "Vous participez à l'évenement", event_attendances_path(@event.id), method: :post, class:"btn btn-secondary" %>
    <% else %>
      <%= link_to "Rejoindre l'événement", event_attendances_path(@event.id), method: :post, class:"btn btn-success" %>
    <% end %>
  <% else %>
    <%= link_to "Participer à l'événement", event_attendances_path(@event.id), method: :post, class:"btn btn-success", id: "checkout-button" %>
  <%end %>
  <%= link_to 'Retourner aux événements', events_path %>
  <br><br>
  <%= render 'attendant_list' %>
</div>
