
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <%if @event.cover.attached?%>
        <%= image_tag @event.cover, alt: 'event-cover' %>
      <%end%>
      <h5 class="card-title"><%= @event.title %></h5>
      <p class="card-text"><%= @event.description %></p>
      <p class="card-text"><small class="text-muted">Par <%= @event.owner.first_name %><br>
      Contact : <%= @event.owner.email %></small></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date de début : <%= @event.start_date.strftime("%A %e %B %Y à %kh%M") %></li>
      <li class="list-group-item">Prix : <%= @event.price %>€</li>
      <li class="list-group-item">Durée : <%= @event.duration %> min</li>
      <li class="list-group-item">Lieu : <%= @event.location %></li>
      <li class="list-group-item">Fin prévue : <%= @event.end_date.strftime("%A %e %B %Y à %kh%M") %> </li>
      <li class="list-group-item">Nombre de participants : <%= @event.attendances.count%> </li>
    </ul>
  </div>

  <% if current_user.present? %>
    <% if @event.owner == current_user %>
      <%= link_to "Administrateur de l'évenement", event_attendances_path(@event.id), method: :post, class:"btn btn-secondary" %>
    <% elsif @event.guests.include? current_user %>
      <%= link_to "Vous participez à l'évenement", event_attendances_path(@event.id), method: :post, class:"btn btn-secondary" %>
    <% else %>
      <%= link_to "Rejoindre l'événement", event_attendances_path(@event.id), method: :post, class:"btn btn-success" %>
    <% end %>
  <% else %>
    <%= link_to "Participer à l'événement", event_attendances_path(@event.id), method: :post, class:"btn btn-success", id: "checkout-button" %>
  <%end %>

  <%= link_to 'Retourner aux événements', events_path %>
  <br>
  <% if current_user.present? && @event.owner == current_user %>
    <h2>Liste des participants</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
          </tr>
        </thead>
        <% @event.guests.each do |guest| %>
        <tbody>
          <tr>
            <td><%= guest.last_name %></td>
            <td><%= guest.first_name %></td>
            <td><%= guest.email %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  <% end %>
